{% extends 'calculator/base.html' %}
{% block content %}

{% if user.is_authenticated %}
    {% if not user.stats %}
        <div class="col">
            <div class="row">
                {% include 'calculator/stat-form.html' %}
            </div>
        </div>
    {% else %}
        {% include 'calculator/profile-card.html' %}
    {% endif %}
{% else %}
    <div class="col-lg-6">
        <div class="row">
            {% include 'calculator/stat-form.html' %}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 id="dynamic-header" class="mb-3">Sign in</h2>
                </div>
            </div>
            <div class="row" id="login-section">
                <div class="col-md">
                    <div class="row">
                        {% include 'authentication/login-form.html' %}
                    </div>
                </div>
                <div class="col-md">
                    <div class="row">
                        <ul>
                            <li>Access to built in diet tracker.</li>
                            <li>Download personalized spreadsheet.</li>
                            <li>Seamlessy track progress with secured data.</li>
                            <li>Comprehensive Food Database: Access to a vast recipes and nutritional data.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" id="signup-section" style="display: none">
                <div class="col">
                    <div class="row">
                        {% include 'authentication/signup-form.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock content %}

