<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MacroCal-FitnessPal</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
        crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'calculator/style.css' %}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                {% include 'calculator/navbar.html' %}
            </div>
        </div>
        
        <div class="container-xxl gy-10">
            <div class="row">
                <div class="col-md-6">
                    {% include 'calculator/tabs.html' %}
                </div>

                <div class="col-md-6">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <h2>Sign in</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% include 'calculator/login.html' %}
                            </div>
                            <div class="col">
                                <ul>
                                    <li>Perk 1</li>
                                    <li>Perk 2</li>
                                    <li>Perk 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    </body>
</html>
