<div class="row">
    <nav>
        <div class="nav nav-tabs" id="unit-tab" role="tablist">
            <button class="nav-link active" id="nav-metric-tab" data-bs-toggle="tab"
                data-bs-target="#nav-metric" type="button" role="tab"
                aria-controls="nav-metric" aria-selected="true">
                Metric
            </button>
            <button class="nav-link" id="nav-us-tab" data-bs-toggle="tab"
                data-bs-target="#nav-us" type="button" role="tab"
                aria-controls="nav-us" aria-selected="false">
                US Units
            </button>
        </div>
    </nav>
    <div class="tab-content">
        <div class="tab-pane fade show active p-3" id="nav-metric" role="tabpanel"
            aria-labelledby="nav-metric-tab">
            <form method="POST" action="{% url 'macrocal' %}">
                {% csrf_token %}
                {{ metric_form.as_p }}
                <button type="submit" name="metric-form-submit">Submit</button>
            </form>
        </div>

        <div class="tab-pane fade p-3" id="nav-us" role="tabpanel"
            aria-labelledby="nav-us-tab">
            <form method="POST" action="{% url 'macrocal' %}">
                {% csrf_token %}
                {{ us_form.as_p }}
                <button type="submit" name="us-form-submit">Submit</button>
            </form>
        </div>
    </div>
</div>
