
<div class="tab-content">
    <div class="tab-pane fade show active p-3" id="nav-metric" role="tabpanel"
        aria-labelledby="nav-metric-tab">
        <form method="POST" action="{% url 'macrocal' %}">
            {% csrf_token %}
            {{ macrocal_form.age.label_tag }} {{ macrocal_form.age }}
            <br>
            {{ macrocal_form.sex.label_tag }} {{ macrocal_form.sex }}
            <br>
            {{ macrocal_form.weight_kg.label_tag }} {{ macrocal_form.weight_kg }}
            <br>
            {{ macrocal_form.height_cm.label_tag }} {{ macrocal_form.height_cm }}
            <br>
            {{ macrocal_form.activity_level.label_tag }} {{ macrocal_form.activity_level }}
            <br>
            {{ macrocal_form.weight_goal.label_tag }} {{ macrocal_form.weight_goal }}
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="tab-pane fade p-3" id="nav-us" role="tabpanel"
        aria-labelledby="nav-us-tab">
        <form method="POST" action="{% url 'macrocal' %}">
            {% csrf_token %}
            {{ macrocal_form.age.label_tag }} {{ macrocal_form.age }}
            <br>
            {{ macrocal_form.sex.label_tag }} {{ macrocal_form.sex }}
            <br>
            {{ macrocal_form.weight_lb.label_tag }} {{ macrocal_form.weight_lb }}
            <br>
            {{ macrocal_form.height_ft.label_tag }} {{ macrocal_form.height_ft }} (in):
            {{ macrocal_form.height_in }}
            <br>
            {{ macrocal_form.activity_level.label_tag }} {{ macrocal_form.activity_level }}
            <br>
            {{ macrocal_form.weight_goal.label_tag }} {{ macrocal_form.weight_goal }}
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>


