<nav>
    <div class="nav nav-tabs" id="unit-tab" role="tablist">
        <button class="nav-link active" id="nav-metric-tab" data-bs-toggle="tab"
            data-bs-target="#nav-metric" type="button" role="tab"
            aria-controls="nav-metric" aria-selected="true">
            Metric
        </button>

        <button class="nav-link" id="nav-us-tab" data-bs-toggle="tab"
            data-bs-target="#nav-us" type="button" role="tab"
            aria-controls="nav-us" aria-selected="false">
            US Units
        </button>
    </div>
</nav>

<div class="tab-content">
    <div class="tab-pane fade show active p-3" id="nav-metric" role="tabpanel"
        aria-labelledby="nav-metric-tab">
        <form method="POST">
            {% csrf_token %}
            {{ form.age.label_tag }} {{ form.age }}
            <br>
            {{ form.sex.label_tag }} {{ form.sex }}
            <br>
            {{ form.weight_kg.label_tag }} {{ form.weight_kg }}
            <br>
            {{ form.height_cm.label_tag }} {{ form.height_cm }}
            <br>
            {{ form.activity_level.label_tag }} {{ form.activity_level }}
            <br>
            {{ form.weight_goal.label_tag }} {{ form.weight_goal }}
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="tab-pane fade p-3" id="nav-us" role="tabpanel"
        aria-labelledby="nav-us-tab">
        <form method="POST">
            {% csrf_token %}
            {{ form.age.label_tag }} {{ form.age }}
            <br>
            {{ form.sex.label_tag }} {{ form.sex }}
            <br>
            {{ form.weight_lb.label_tag }} {{ form.weight_lb }}
            <br>
            {{ form.height_ft.label_tag }} {{ form.height_ft }} (in):
            {{ form.height_in }}
            <br>
            {{ form.activity_level.label_tag }} {{ form.activity_level }}
            <br>
            {{ form.weight_goal.label_tag }} {{ form.weight_goal }}
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

